.slider-buttons {
    text-align: center;
}

.slide-but {
    margin: 30px;
    border-radius: 50px;
    width: 150px;
    background-color: whitesmoke;
    border: 2px solid blueviolet;
    color: blueviolet;
    font-weight: bold;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.slide-but:hover {
    cursor: pointer;
}

.slideshow {
    min-height: 50vh;
    display: grid;
    place-items: center;
}

.slider-head {
    font-size: 8vh;
    margin-bottom: 25px;
    font-family: 'Kalnia', serif;
}

.slider {
    height: 250px;
    margin: auto;
    margin-top: 45px;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-track {
    display: flex;
    width: calc(250px * 14);
    animation: scroll 20s linear infinite;
}

.slide-track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 7));
    }
}

.slide {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 200px;
    perspective: 100px;
}

 .img-slide {
    width: 50vh;
    height: 50vh;
    transition: transform 5s;
}

/*.img-slide:hover {
    transform: translateZ(20px);
}*/


.slider::before,
.slider::after {
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,
    rgba(255,255,255,0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;

}

.slider::before {
    left: 0;
    top: 0;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ('180deg');
}


@media (max-width:650px) {
    .slider-head {
        font-size: 6.5vh;
        font-weight: 600;
    }
}

@media (max-width:960px) {
    .slider-head {
        font-size: 6vh;
        font-weight: 600;
    }
}

@media (max-width:799px) {
    .slider-head {
        font-size: 6vh;
        font-weight: 600;
    }
}

@media (max-width:742px) {
    .slider-head {
        font-size: 5vh;
        font-weight: 600;
    }
}

@media (max-width:500px) {
    .slide {
        padding: 200px;
    }
}

@media (max-width:400px) {
    .slide-but {
        margin: 10px;
    }
}